body {
    font-family: 'Mulish', sans-serif;
    background: #E5E5E5;
}

header {
    width: 100%;
    height: 400px;
    background: #C5010A;
}

.logo {
    width: 135.4px;
    height: 56px;
}

.menu {
    text-decoration: none;
    color: #FFFFFF;
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 0.005em;
    transition-duration: 0.5s;
    border-bottom: 2px solid #ffffff00;
}

.menu:hover {
    font-weight: 600;
    transition-duration: 1s;
    border-bottom: 2px solid #FFFFFF;
}

.wrapper-header {
    width: 90%;
    height: 100px;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
}

.nav {
    display: flex;
    column-gap: 17px;
}

.acc {
    width: 40px;
    height: 40px;
    margin-right: 32px;
}

.btn {
    background: #FA3C45;
    border-radius: 8px;
    padding: 14px 24px;
    border: none;
    font-weight: 700;
    font-size: 16px;
    color: #ffffff;
    cursor: pointer;
}

.btnacc {
    display: flex;
    align-items: center;
}

.text {
    text-align: center;
    font-size: 62px;
    color: #FFFFFF;
    padding-top: 50px;
    font-weight: 700;
}

.main {
    width: 1232px;
    margin: 0 auto;
}

.home {
    padding-top: 80px;
    font-weight: 700;
    font-size: 24px;
    color: black;
}

.content {
    margin-top: 64px;
    display: flex;
    justify-content: space-between;
}

.content-left { 
    width: 816px;
}

.content-rigth {
    width: 400px;
}

.vid {
    width: 100%;
    height: 440px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #E2E2EA;
    border-radius: 8px;
    border: 1px solid #000;
}

.play {
    cursor: pointer;
}

.left-title { 
    padding-top: 56px;
    font-style: normal;
    font-weight: 700;
    font-size: 31px;
    line-height: 120%;
    letter-spacing: 0.005em;
    color: #333333;
}

.left-text {
    padding-top: 24px;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 120%;
    letter-spacing: 0.005em;
    color: #92929D;
}

.offer {
    transition-duration: 0.3s;
    opacity: 0.5;
    width: 100%;
    height: 560px;
    background: #C5010A;
    border-radius: 8px;
}

.offer:hover { 
    transition-duration: 0.6s;
    opacity: 1;
}

.offer-t { 
    display: block;
    width: 263px;
    margin: 0 auto;
    padding-top: 166px;
    text-align: center;
    font-weight: 700;
    font-size: 39px;
    line-height: 120%;
    text-align: center;
    letter-spacing: 0.005em;
    color: #FFFFFF;
}

.offer-text {
    width: 226px;
    margin: 0 auto;
    padding-top: 24px;
    font-weight: 400;
    font-size: 24px;
    line-height: 120%;
    text-align: center;
    letter-spacing: 0.005em;
    color: #FFFFFF;
}

.offer-btn { 
    display: block;
    margin: 40px auto 0 auto;
    cursor: pointer;
    width: 102px;
    height: 40px;
    border: 2px solid #FFFFFF;
    border-radius: 8px;
    font-weight: 700;
    font-size: 16px;
    line-height: 120%;
    text-align: center;
    letter-spacing: 0.005em;
    color: #FFFFFF;
    background: none;
    transition-duration: 0.5s;
}

.offer-btn:hover {
    transition-duration: 1s;
    background-color: #FFFFFF;
    color: #C5010A;
}

.cont {
    width: 100%;
    height: 560px;
    background: #ffffff;
    border-radius: 8px;
    margin-top: 16px;
    display: flex;
    flex-direction: column;
}

.contact {
    font-weight: 700;
    font-size: 39px;
    line-height: 120%;
    letter-spacing: 0.005em;
    color: #11142D;
    padding: 48px 72px 32px 44px;
}

.input {
    width: 296px;
    height: 56px;
    border: 1px solid #FA3C45;
    border-radius: 8px; 
    font-weight: 400;
    font-size: 16px;
    line-height: 120%;
    letter-spacing: 0.005em;
    color: #9A9AB0;
    margin-left: 42px;
}

.input2 {
    width: 296px;
    height: 56px;
    border: 1px solid #FA3C45;
    border-radius: 8px; 
    font-weight: 400;
    font-size: 16px;
    line-height: 120%;
    letter-spacing: 0.005em;
    color: #9A9AB0;
    margin-top: 24px;
    margin-left: 42px;
}

.input3 {
    background: #FFFFFF;
    border: 1px solid #FA3C45;
    border-radius: 8px;
    width: 296px;
    height: 120px;
    margin-top: 24px;
    margin-left: 42px;
    font-weight: 400;
    font-size: 16px;
    line-height: 120%;
    letter-spacing: 0.005em;
    color: #9A9AB0;
}

.button {
    background: #FA3C45;
    border-radius: 8px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 18px 24px;
    gap: 10px;
    width: 168px;
    height: 56px;
    color: #FFFFFF;
    border: none;
    margin-top: 40px;
    margin-left: 42px;
    font-weight: 700;
    font-size: 15px;
    line-height: 120%;  
    text-align: center;
    letter-spacing: 0.005em;
    transition-duration: 0.5s;
    cursor: pointer;
}

.button:hover {
    transition-duration: 1s;
    border: 1px solid #C5010A;
    background-color: #FFFFFF;
    color: #C5010A;
}

.block {
    background: #ffffff;
    border-radius: 8px; 
    width: 100%;
    height: 679px;
    margin-top: 56px;
}

.calcut {
    font-weight: 700;
    font-size: 39px;
    line-height: 120%;
    letter-spacing: 0.005em;
    color: #11142D;
    padding-top: 48px;
    margin-left: 48px;
}

.text2 {
    padding-top: 24px;
    margin-left: 48px;
    font-weight: 400;
    font-size: 16px;
    line-height: 120%;
    letter-spacing: 0.005em;
    color: #92929D;
}

.price {
    padding-top: 45px;
    margin-left: 48px;
    font-weight: 700;
    font-size: 16px;
    line-height: 120%;
    letter-spacing: 0.005em;
    color: #11142D;
}

.input-price {
    margin-top: 21px;
    margin-left: 48px;
    padding: 19px 534px 18px 16px;
    border: 1px solid #FA3C45;
    border-radius: 8px;
    font-weight: 400;
    font-size: 16px;
    line-height: 120%;
    letter-spacing: 0.005em;
    color: #9A9AB0;   
}

.interest {
    padding-top: 32px;
    margin-left: 48px;
    font-weight: 700;
    font-size: 16px;
    line-height: 120%;
    letter-spacing: 0.005em;
    color: #11142D;
}

.input-interest {
    margin-top: 21px;
    margin-left: 48px;
    padding: 19px 122px 18px 16px;
    border: 1px solid #FA3C45;
    border-radius: 8px;
    font-weight: 400;
    font-size: 16px;
    line-height: 120%;
    letter-spacing: 0.005em;
    color: #9A9AB0;   
}

.period-div {
    margin-top: -130px;
    margin-left: 394px;
}

.period {
    padding-top: 32px;
    margin-left: 48px;
    font-weight: 700;
    font-size: 16px;
    line-height: 120%;
    letter-spacing: 0.005em;
    color: #11142D;
}

.input-period {
    margin-top: 21px;
    margin-left: 48px;
    padding: 19px 122px 18px 16px;
    border: 1px solid #FA3C45;
    border-radius: 8px;
    font-weight: 400;
    font-size: 16px;
    line-height: 120%;
    letter-spacing: 0.005em;
    color: #9A9AB0;   
}

.down {
    padding-top: 32px;
    margin-left: 48px;
    font-weight: 700;
    font-size: 16px;
    line-height: 120%;
    letter-spacing: 0.005em;
    color: #11142D;
}

.input-down {
    margin-top: 21px;
    margin-left: 48px;
    padding: 19px 534px 18px 16px;
    border: 1px solid #FA3C45;
    border-radius: 8px;
    font-weight: 400;
    font-size: 16px;
    line-height: 120%;
    letter-spacing: 0.005em;
    color: #9A9AB0; 
}

.calculate {
    margin-left: 48px;
    margin-top: 50px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 14px 24px;
    gap: 10px;
    background: #FA3C45;
    border-radius: 8px;
    color: #FFFFFF;
    border: none;
    font-weight: 700;
    font-size: 16px;
    line-height: 120%;
    text-align: center;
    letter-spacing: 0.005em;
    color: #FFFFFF;
    cursor: pointer;
}

.calculate:hover {
    transition-duration: 1s;
    border: 1px solid #C5010A;
    background-color: #FFFFFF;
    color: #C5010A;
}
